### macOS
# Finder metadata
.DS_Store

# Thumbnails
._*

# Custom folder icons
Icon

# Volume root files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### Go
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work.sum

# env file
.env
*.sal
*.csv
decode/decode
esp32/.venv
esp32/.pio
esp32/data
esp32/web/node_modules
esp32-rust/target
esp32-rust/.embuild
esp32/.vscode

# PCB
pcb/.venv
pcb/__pycache__
pcb/*.net
pcb/*.xml
pcb/*.svg
pcb/*.kicad_prl
pcb/*.kicad_pcb-bak
pcb/*.kicad_sch-bak
pcb/*-backups/
pcb/fp-info-cache
pcb/.venv-3d
pcb/cwl/cwl-backups
pcb/cwl/.history
*.lck
pcb/.history
